.one{
    color:#C3170C;
}
.two{
    color:#1E4B9B;
}
.three{
    color:
    #006766;
}
.four{
    color: #07AA47;
}
.five{
    color: #E3662B;
}
.six{
    color: #FB0735;
}
.seven{
    color:#FF75BB;
}
.eight{
    color: #EC7D00;
}
.nine{
    color:#323333;
}
.ten{
    color:#A81D83;
}
